body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    pointer-events: auto !important;
    background-size: 100% !important;
    opacity: 0.90 !important;
    background-position: 0 0 !important;
    background-image: url(https://piauihoje.com/uploads/imagens/ur1-1697756316.jpg);
    content: '';
    position: absolute;
    z-index: 999;
    width: 100%;
    }

.clock {
    background-color: #fff;
    padding: 35px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.time {
    font-size: 2rem;
    text-align: center;
}
